h1{
    text-align: center;
}

.alignCenter
{
    text-align: center;
}

.deleteGrid
{
    display: grid;
    grid-template-columns: 10% 90%;
    margin-bottom: 1em;
}

.listGrid
{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.twoColumnGrid
{
    display: grid;
    grid-template-columns: 20% 80%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.twoColumn
{
    margin-top: 1em;
}

.container
{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    width: 15%;
}

.dateSelectGrid
{
    display: grid;
    grid-template-columns: 20% 10% 15% 15% 10% 15% 15%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
}

button
{
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
}

.lessSpacing
{
    margin-top: 0.5em;
}

.moreSpacing
{
    margin-top: 2em;
}

.fillContainer
{
    width: 100%;
}

.partContainer
{
    width: 70%;
}

.fourColumnGrid
{
    display: grid;
    grid-template-columns: 4% 21% 4% 21% 4% 21% 4% 21%;
    margin-top: 1em;
}



.centerHeight
{
    margin-top: auto;
    margin-bottom: auto;
}

.sevenColumnGrid
{
    display: grid;
    grid-template-columns: 14% 14% 14% 14% 14% 14% 14%;
    margin-top: 1em;
}

.hourGrid
{
    display: grid;
    grid-template-columns: 28% 72%;
    margin-top: 1em;
}

.backPosition
{
    position: absolute;
    left: 5em;
    top: 0em;
}

.notifyBox
{
    display: flex;
    margin-left: auto;
    margin-right: auto;
}